{% extends 'sales/base.html' %}

{% block content %}
<section class="container">
    <form action="{% url 'sales:add_plan' %}" method="post" class="form">
        {% csrf_token %}
		<h1>Planificare săptămâna {{ form.start_date }} - {{ form.end_date }}</h1>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary m-2">Salvează planificare</button>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Zi/Județ</th>
                    <th scope="col">Obiective</th>
                    <th scope="col">Realizări</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="day">
                            Luni  
                        </div>
                        <div>
                            <select name="monday_location" id="id_monday_locaiton">
                                {% for county in agent_counties %}
                                    <option value="{{ county.id }}">{{ county.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>{{ form.monday_goal }}</td>
                    <td>{{ form.monday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Marți  
                        </div>
                        <div>
                            <select name="tuesday_location" id="id_tuesday_locaiton">
                                {% for county in agent_counties %}
                                    <option value="{{ county.id }}"{% if county.id == tuesday_location %} selected{% endif %}>{{ county.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>{{ form.tuesday_goal }}</td>
                    <td>{{ form.tuesday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Miercuri  
                        </div>
                        <div>
                            <select name="wendsday_location" id="id_wendsday_locaiton">
                                {% for county in agent_counties %}
                                    <option value="{{ county.id }}"{% if county.id == wendsday_location %} selected{% endif %}>{{ county.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>{{ form.wendsday_goal }}</td>
                    <td>{{ form.wendsday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Joi  
                        </div>
                        <div>
                            <select name="thursday_location" id="id_thursday_locaiton">
                                {% for county in agent_counties %}
                                    <option value="{{ county.id }}"{% if county.id == thursday_location %} selected{% endif %}>{{ county.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>{{ form.thursday_goal }}</td>
                    <td>{{ form.thursday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Vineri  
                        </div>
                        <div>
                            <select name="friday_location" id="id_friday_locaiton">
                                {% for county in agent_counties %}
                                    <option value="{{ county.id }}"{% if county.id == friday_location %} selected{% endif %}>{{ county.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>{{ form.friday_goal }}</td>
                    <td>{{ form.friday_achieved }}</td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

<script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
        format: 'DD/MM/YYYY HH:mm',
      });
    });
  </script>
{% endblock content %}