<li class="nav-item dropdown">
    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">Rapoarte</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'sales:plans_reports' %}">Rapoarte planificări</a>
        </li>
        <li><a class="dropdown-item" href="{% url 'sales:visits_reports' %}">Rapoarte
                storechecks</a></li>
        <li><a class="dropdown-item" href="{% url 'sales:competition_reports' %}">Rapoarte despre
                concurență</a></li>
    </ul>
</li>