{% extends 'sales/base.html' %}

{% block content %}
<main class="container">
    <h1>Selectează clientul</h1>
    <form action="{% url 'sales:select_client' %}" method="POST" class="form row g-3">
        {% csrf_token %}
        <select name="client" id="client">
            {% for client in agent_clients %}
                <option value="{{ client }}">{{ client }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="source" value="{{ source }}">
        <button name='submit'class="btn btn-primary">Selecteaza</button>
    </form>
</main>
    
{% endblock content %}