{% extends "base.html" %}

{% block page_header %}
	<div class='jumbotron'>
		<h2>Aici găsești toate datele de contact ale colegilor tăi.</h2>
	</div>
	
{% endblock page_header %}

{% block content %}
	{% if user.is_authenticated %}
		<button>
			<a href="{% url 'users:employees' %}">Lista angajatilor</a>
		</button>
		<button>
			<a href="{% url 'users:profile' user.id %}">Profilul meu</a>
		</button>
	{% else %}
		<p>Pentru a putea accesa aceste informații, trebuie să te autentifici</p>
		<button>
			<a href="{% url 'users:login' %}">Login</a>
		</button>
	{% endif %}
{% endblock content %}