{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h1>Planificare săptămâna: {{ start_date|date:"d M Y" }} - {{ end_date|date:"d M Y" }}</h1>
    <form action="{% url 'sales:index' %}" method="post" class="form">
        {% csrf_token %}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary m-2">Salvează modificări</button>
            <a href="{% url 'sales:add_plan' %}" class="btn btn-primary m-2">Planificare nouă</a>
            <button class="btn btn-primary dropdown-toggle m-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Alege alt plan
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Saptamana 1</a></li>
                <li><a class="dropdown-item" href="#">Saptamana 2</a></li>
                <li><a class="dropdown-item" href="#">Saptamana 3</a></li>
            </ul>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Zi/Județ</th>
                    <th scope="col">Obiective</th>
                    <th scope="col">Realizări</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="day">
                            Luni  
                        </div>
                        <div>
                            Județ {{ form.monday_location }}
                        </div>
                    </td>
                    <td>{{ form.monday_goal }}</td>
                    <td>{{ form.monday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Marți  
                        </div>
                        <div>
                            Județ {{ form.tuesday_location }}
                        </div>
                    </td>
                    <td>{{ form.tuesday_goal }}</td>
                    <td>{{ form.tuesday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Miercuri  
                        </div>
                        <div>
                            Județ {{ form.wendsday_location }}
                        </div>
                    </td>
                    <td>{{ form.wendsday_goal }}</td>
                    <td>{{ form.wendsday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Joi  
                        </div>
                        <div>
                            Județ {{ form.thursday_location }}
                        </div>
                    </td>
                    <td>{{ form.thursday_goal }}</td>
                    <td>{{ form.thursday_achieved }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="day">
                            Vineri  
                        </div>
                        <div>
                            Județ {{ form.friday_location }}
                        </div>
                    </td>
                    <td>{{ form.friday_goal }}</td>
                    <td>{{ form.friday_achieved }}</td>
                </tr>
            </tbody>
        </table>
    </form>
</section>
<section class="container">
    <!-- Vizite -->
    <div class="row">
        <div class="col-6">
            <h1 id="vizite"><a href="{% url 'sales:visits' %}" class="text-decoration-none">Vizite de piață</a></h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'sales:new_visit' %}" class="btn btn-primary me-md-2">Vizită nouă</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Data și ora</th>
                        <th>Clientul (Magazinul)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in page_obj %}
                    <tr>
                        <td>{{ visit.date_created|date:'d M Y H:m' }}</td>
                        <td><a href="{% url 'sales:visit' visit.id %}">{{ visit.client }} ({{ visit.shop }})</a></td>
                    </tr>
                    {% empty %}
                    <p>Nu au fost realizate vizite încă.</p>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Înapoi</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Înapoi</a></li>
                {% endif %}
                    <!-- <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li> -->
                {% for page in page_obj.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }} #vizite">{{ page }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Înainte</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Înainte</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-6">
            <!-- Informatii concurenta -->
            <h1>Informații concurență</h1>
        </div>
    </div>
</section>

{% endblock %}