{% extends 'base.html' %}

{% block content %}

<h1>Activitate vanzari</h1>
<a href="#">Saptamana trecuta</a>
<a href="#">Editeaza</a>
<a href="#">Saptamana viitoare</a>

<table>
	<tr>
		<th></th>
		<th>Luni</th>
		<th>Marti</th>
		<th>Miercuri</th>
		<th>Joi</th>
		<th>Vineri</th>
	</tr>
	<tr>
		<td>Locatia</td>
		<td>{{ form.monday_location }}</td>
		<td>{{ form.tuesday_location }}</td>
		<td>{{ form.wendsday_location }}</td>
		<td>{{ form.thursday_location }}</td>
		<td>{{ form.friday_location }}</td>
	</tr>
	<tr>
		<td>Obiectivele</td>
		<td>{{ form.monday_goal }}</td>
		<td>{{ form.tuesday_goal }}</td>
		<td>{{ form.wendsday_goal }}</td>
		<td>{{ form.thursday_goal }}</td>
		<td>{{ form.friday_goal }}</td>
	</tr>
	<tr>
		<td>Realizarile</td>
		<td>{{ form.monday_achieved }}</td>
		<td>{{ form.tuesday_achieved }}</td>
		<td>{{ form.wendsday_achieved }}</td>
		<td>{{ form.thursday_achieved }}</td>
		<td>{{ form.friday_achieved }}</td>
	</tr>

</table>


{% endblock content %}