{% extends 'base.html' %}

{% block content %}

<h1>Planul saptamanii (insert first - last day, month, year)</h1>

<form action="{% url 'sales:weekly_plan' %}" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<table>
		<tr>
			<th>
				<p>Luni</p>
				<p>20.02.2022</p>
			</th>
			<th>
				<p>Locatie</p>
			</th>
			<th>
				<p>Obiective</p>
			</th>
			<th>
				<p>Realizari</p>
			</th>
		</tr>
		<tr>
			<td>bla bla</td>
			<td>bla bla</td>
			<td>bla bla</td>
			<td>bla bla</td>
		</tr>
	</table>
</form>

{% endblock content %}